In [1]:
#create a dataframe that has: 
'''
list of cars: models, year, color
    
toyota 2017 blue
toyota 2015 black
bmw 2005 white
hyundai 2017 blue
bmw 2019  blue
'''

'\nlist of cars: models, year, color\n    \ntoyota 2017 blue\ntoyota 2015 black\nbmw 2005 white\nhyundai 2017 blue\nbmw 2019  blue\n'

In [2]:
data = [['toyota',2017,'blue'],['toyota',2015,'black'],['bmw',2005,'white'],['hyundai',2017,'blue'],['bmw',2019,'blue']]

In [3]:
data

[['toyota', 2017, 'blue'],
 ['toyota', 2015, 'black'],
 ['bmw', 2005, 'white'],
 ['hyundai', 2017, 'blue'],
 ['bmw', 2019, 'blue']]

In [4]:
import pandas as pd

In [5]:
cars = pd.DataFrame(data, columns= ['Make', 'Year','Color'])

In [6]:
cars

      Make  Year  Color
0   toyota  2017   blue
1   toyota  2015  black
2      bmw  2005  white
3  hyundai  2017   blue
4      bmw  2019   blue

In [12]:
groups = cars.groupby('Make')

In [13]:
groups

In [14]:
#use aggregate functions only on groupby object
#sum, std, mean, min, max, count
groups.count()

         Year  Color
Make
bmw         2      2
hyundai     1      1
toyota      2      2

In [15]:
groups.count()['Color']

Make
bmw        2
hyundai    1
toyota     2
Name: Color, dtype: int64

In [20]:
groups.count().transpose()

Make   bmw  hyundai  toyota
Year     2        1       2
Color    2        1       2

In [24]:
#write file to excel (needs to be a dataframe)
cars.to_excel(r'C:\Users\longn\Python_programming\Unit_6\13bexport_jupyter_sample.xlsx', sheet_name='class13b', index = False)