In [1]:
import pandas as pd

In [2]:
data =  pd.read_csv('ecommerce.csv')

In [5]:
#row & column
data.shape

(10000, 14)

In [63]:
#information on data:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [8]:
#data columns
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [64]:
data.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [13]:
#avg pur price
data['Purchase Price'].mean()

50.34730200000025

In [18]:
#min max
data['Purchase Price'].min()

0.0

In [17]:
data['Purchase Price'].max()

99.99

In [24]:
#How many people have English 'en' as their Language of choice on the website?

data.head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [55]:
#How many people have English 'en' as their Language of choice on the website?

data[data['Language'] == 'en']['Company'].count()

1098

In [65]:
#SOLUTION:
data[data['Language'] == 'en'].count()['Language']

1098

In [30]:
#how many lawyers?
data[data['Job'] == 'Lawyer']['Company'].count()

30

In [32]:
#How many people made the purchase during the AM and how many people made the purchase during PM ?
am_pm = data.groupby('AM or PM')

In [35]:
am_pm['Company'].count()

AM or PM
AM    4932
PM    5068
Name: Company, dtype: int64

In [36]:
#What are the 5 most common Job Titles?


job = data.groupby('Job')

In [77]:
job_count = job['Company'].count().sort_values(ascending = False)

In [78]:
job_count

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
                                     ..
Stage manager                         7
Editor, film/video                    6
Actuary                               6
Information systems manager           5
Investment analyst                    5
Name: Company, Length: 623, dtype: int64

In [81]:
#SOLUTION:
data['Job'].value_counts()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
                                 ..
Stage manager                     7
Actuary                           6
Editor, film/video                6
Investment analyst                5
Information systems manager       5
Name: Job, Length: 623, dtype: int64

In [49]:
#What is the email of the person with the following Credit Card Number: 4926535242672853

data[data['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [84]:
#How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

data[(data['CC Provider'] == 'American Express') & (data['Purchase Price']>95)].count()['Company']

39

In [87]:
#Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)
def add_s(incoming):
    if len(incoming) > 0:
        return incoming + 's'
    else:
        return incoming

In [88]:
#use apply function
#apply takes a function and a value, and uses that function to transform the value

#add s to my language column

In [89]:
data['Languages'] = data['Language'].apply(add_s)

In [91]:
#get provider

def get_provider(input):
    return input.split('@')[1] #[1] to grab 2nd

In [92]:
data['Provider'] = data['Email'].apply(get_provider)

In [94]:
data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Languages,Provider
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,els,yahoo.com
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,frs,reed.com
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,des,morales-harrison.com
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,ess,olson-robinson.info
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,ess,gmail.com

In [97]:
data['Provider'].value_counts()

hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
hines.com                 1
williams-smith.com        1
sellers-perez.net         1
torres-stewart.info       1
haley-gibson.com          1
Name: Provider, Length: 3416, dtype: int64