In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#read in the file 'Homicide.csv' and store it in a variable called homicide

homicide = pd.read_csv(r'C:\Users\longn\Python_programming\Unit_6\homework\Homicide.csv')

In [3]:
homicide.shape

(1015, 13)

In [4]:
homicide.head()

,X,Y,Index_,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,-79.392853,43.685028,1,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1
1,-79.234962,43.781536,2,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2
2,-79.206894,43.810860,3,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3
3,-79.434403,43.670475,4,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4
4,-79.203865,43.823543,5,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5

In [5]:
#how many rows are in the dataset
homicide.index

RangeIndex(start=0, stop=1015, step=1)

In [6]:
#list the names of all the columns in the dataset
homicide.columns

Index(['X', 'Y', 'Index_', 'Event_Unique_ID', 'Occurrence_year', 'Division',
       'Homicide_Type', 'Occurrence_Date', 'Hood_ID', 'Neighbourhood', 'Lat',
       'Long', 'ObjectId'],
      dtype='object')

In [9]:
#replace the default index with the values of the 'Index_' column

homicide = homicide.set_index('Index_')

In [10]:
homicide

,X,Y,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId
Index_,,,,,,,,,,,,
1,-79.392853,43.685028,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1
2,-79.234962,43.781536,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2
3,-79.206894,43.810860,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3
4,-79.434403,43.670475,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4
5,-79.203865,43.823543,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1235,-79.374847,43.660656,GO-20182242344,2018,D51,Stabbing,2018-12-06T05:00:00.000Z,73,Moss Park (73),43.660656,-79.374847,1011
1236,-79.548676,43.701328,GO-20182280579,2018,D23,Shooting,2018-12-12T05:00:00.000Z,6,Kingsview Village-The Westway (6),43.701328,-79.548676,1012
1237,-79.517776,43.759018,GO-20182315055,2018,D31,Shooting,2018-12-18T05:00:00.000Z,24,Black Creek (24),43.759018,-79.517776,1013
1238,-79.397644,43.644955,GO-20182320758,2018,D14,Shooting,2018-12-19T05:00:00.000Z,77,Waterfront Communities-The Island (77),43.644955,-79.397644,1014
1240,-79.585831,43.750977,GO-20182339244,2018,D23,Shooting,2018-12-21T05:00:00.000Z,2,Mount Olive-Silverstone-Jamestown (2),43.750977,-79.585831,1015

In [11]:
#list the types of homicides in the order of their frequency
homicide_type = homicide.groupby('Homicide_Type')

In [16]:
homicide_type.count()['Event_Unique_ID']

Homicide_Type
Other       263
Shooting    526
Stabbing    226
Name: Event_Unique_ID, dtype: int64

In [17]:
homicide['Homicide_Type'].value_counts()

Shooting    526
Other       263
Stabbing    226
Name: Homicide_Type, dtype: int64

In [20]:
#plot the homicide types and their frequencies on a bar chart

homicide['Homicide_Type'].plot.bar()

TypeError: no numeric data to plot

In [29]:
#find the year with the highest number of shootings

group_yr = homicide[homicide['Homicide_Type'] == 'Shooting'].groupby('Occurrence_year')

In [37]:
group_yr.count()['Event_Unique_ID'].sort_values(ascending = False)

Occurrence_year
2005    53
2018    51
2007    44
2016    41
2017    39
2009    37
2008    37
2012    34
2010    32
2006    29
2011    28
2014    27
2015    26
2004    26
2013    22
Name: Event_Unique_ID, dtype: int64

In [38]:
#for 2018, list the months with the highest and lowest homicides
#Needs to create a month colum

In [ ]:
#month column function
def month(input):
    return homicide['Month'] = homicide['Occurrence_Date'].split['-']