In [3]:
import pandas as pd

In [5]:
wei = pd.read_excel (r'C:\Users\longn\Python_programming\Unit_6\Practice\WEI.xlsx')

In [6]:
wei

          Date    WEI
0   2008-01-05   1.48
1   2008-01-12   1.42
2   2008-01-19   1.42
3   2008-01-26   0.96
4   2008-02-02   0.70
..         ...    ...
637 2020-03-21  -3.23
638 2020-03-28  -6.75
639 2020-04-04  -8.41
640 2020-04-11 -10.40
641 2020-04-18 -11.70

[642 rows x 2 columns]

In [7]:
wei.describe()

              WEI
count  642.000000
mean     1.584034
std      1.811563
min    -11.700000
25%      1.450000
50%      2.060000
75%      2.427500
max      4.590000

In [8]:
# split by year 
# then group by year

In [ ]:
def splityear(input):
    return input.split('-')[0]